**환경 설정**

In [ ]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

In [ ]:
%load_ext sql

In [ ]:
# ID와 PW를 자신의 환경에 맞게 수정 - password
%sql postgresql://strongstar1210:password@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

# 숙제 1. 사용자별로 처음 채널과 마지막 채널 알아내기

In [ ]:
%%sql

SELECT DISTINCT
  usc.userid,
  FIRST_VALUE(usc.channel) OVER(
    PARTITION BY usc.userid
    ORDER BY st.ts
    ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
  ) AS first_channel,
  LAST_VALUE(usc.channel) OVER(
    PARTITION BY usc.userid
    ORDER BY st.ts
    ROWS BETWEEN UNBOUNDED PRECEDING AND UNBOUNDED FOLLOWING
  ) AS last_channel
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp st ON usc.sessionid = st.sessionid
--WHERE usc.userid = 251
LIMIT 100

 * postgresql://strongstar1210:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
100 rows affected.

[(27, 'Youtube', 'Instagram'),
 (29, 'Naver', 'Naver'),
 (33, 'Google', 'Youtube'),
 (40, 'Youtube', 'Google'),
 (44, 'Naver', 'Instagram'),
 (68, 'Youtube', 'Organic'),
 (191, 'Naver', 'Instagram'),
 (196, 'Facebook', 'Naver'),
 (197, 'Naver', 'Youtube'),
 (210, 'Google', 'Google'),
 (225, 'Facebook', 'Naver'),
 (229, 'Google', 'Facebook'),
 (232, 'Instagram', 'Naver'),
 (248, 'Naver', 'Instagram'),
 (255, 'Facebook', 'Instagram'),
 (265, 'Facebook', 'Instagram'),
 (266, 'Google', 'Instagram'),
 (267, 'Instagram', 'Naver'),
 (277, 'Naver', 'Naver'),
 (280, 'Google', 'Organic'),
 (363, 'Naver', 'Facebook'),
 (420, 'Youtube', 'Facebook'),
 (465, 'Organic', 'Youtube'),
 (468, 'Instagram', 'Facebook'),
 (473, 'Youtube', 'Naver'),
 (533, 'Instagram', 'Google'),
 (538, 'Youtube', 'Organic'),
 (586, 'Naver', 'Organic'),
 (626, 'Facebook', 'Google'),
 (654, 'Naver', 'Naver'),
 (676, 'Instagram', 'Facebook'),
 (682, 'Organic', 'Facebook'),
 (694, 'Google', 'Organic'),
 (698, 'Organic', 'Facebook'),
 (706, 'Youtube', 'Facebook'),
 (735, 'Organic', 'Google'),
 (774, 'Facebook', 'Naver'),
 (780, 'Instagram', 'Naver'),
 (793, 'Organic', 'Organic'),
 (801, 'Facebook', 'Google'),
 (803, 'Instagram', 'Organic'),
 (810, 'Instagram', 'Naver'),
 (812, 'Google', 'Facebook'),
 (825, 'Naver', 'Google'),
 (832, 'Youtube', 'Facebook'),
 (847, 'Google', 'Facebook'),
 (849, 'Facebook', 'Google'),
 (873, 'Instagram', 'Naver'),
 (897, 'Facebook', 'Organic'),
 (905, 'Youtube', 'Instagram'),
 (913, 'Organic', 'Naver'),
 (931, 'Youtube', 'Naver'),
 (937, 'Instagram', 'Google'),
 (949, 'Instagram', 'Instagram'),
 (955, 'Youtube', 'Google'),
 (963, 'Youtube', 'Naver'),
 (975, 'Youtube', 'Facebook'),
 (981, 'Naver', 'Naver'),
 (983, 'Instagram', 'Organic'),
 (995, 'Organic', 'Organic'),
 (1035, 'Instagram', 'Instagram'),
 (1041, 'Organic', 'Google'),
 (1053, 'Youtube', 'Organic'),
 (1055, 'Google', 'Instagram'),
 (1059, 'Organic', 'Facebook'),
 (1067, 'Google', 'Naver'),
 (1073, 'Google', 'Youtube'),
 (1085, 'Organic', 'Youtube'),
 (1095, 'Google', 'Organic'),
 (1111, 'Facebook', 'Youtube'),
 (1139, 'Youtube', 'Organic'),
 (1157, 'Google', 'Google'),
 (1169, 'Naver', 'Facebook'),
 (1177, 'Naver', 'Instagram'),
 (1185, 'Instagram', 'Instagram'),
 (1195, 'Organic', 'Organic'),
 (1197, 'Instagram', 'Google'),
 (1231, 'Organic', 'Organic'),
 (1233, 'Facebook', 'Naver'),
 (1239, 'Google', 'Instagram'),
 (1249, 'Organic', 'Naver'),
 (1253, 'Google', 'Naver'),
 (1273, 'Google', 'Google'),
 (1285, 'Youtube', 'Organic'),
 (1295, 'Organic', 'Instagram'),
 (1299, 'Youtube', 'Organic'),
 (1307, 'Google', 'Naver'),
 (1309, 'Naver', 'Google'),
 (1313, 'Facebook', 'Naver'),
 (1321, 'Google', 'Facebook'),
 (1337, 'Youtube', 'Instagram'),
 (1353, 'Naver', 'Facebook'),
 (1379, 'Organic', 'Google'),
 (1385, 'Google', 'Google'),
 (1393, 'Youtube', 'Organic'),
 (1409, 'Google', 'Organic'),
 (1411, 'Instagram', 'Google'),
 (1415, 'Google', 'Organic'),
 (1417, 'Naver', 'Naver'),
 (1421, 'Organic', 'Naver')]

# 숙제 2. Gross Revenue가 가장 큰 UserID 10개 찾기

In [ ]:
%%sql

WITH base AS (
  SELECT usc.userid,
    SUM(t.amount) AS gross_revenue,
    RANK() OVER(ORDER BY gross_revenue DESC) AS rnk
  FROM raw_data.user_session_channel AS usc
  JOIN raw_data.session_transaction AS t ON usc.sessionid = t.sessionid
  GROUP BY usc.userid
)
SELECT userid, gross_revenue, rnk
FROM base
WHERE rnk < 11
ORDER BY rnk

 * postgresql://strongstar1210:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(989, 743, 1),
 (772, 556, 2),
 (1615, 506, 3),
 (654, 488, 4),
 (1651, 463, 5),
 (973, 438, 6),
 (262, 422, 7),
 (1099, 421, 8),
 (2682, 414, 9),
 (891, 412, 10)]

# 숙제 3. raw_data.nps 테이블을 바탕으로 월별 NPS 계산

In [ ]:
%%sql

SELECT
  TO_CHAR(created_at, 'YYYY-MM') AS month,
  ROUND(SUM(CASE WHEN score >= 9 THEN 1 WHEN score <= 6 THEN -1 END)*100.0/COUNT(1),2) AS nps
FROM raw_data.nps
GROUP BY month
ORDER BY month DESC

 * postgresql://strongstar1210:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
12 rows affected.

[('2019-12', Decimal('65.99')),
 ('2019-11', Decimal('61.29')),
 ('2019-10', Decimal('53.29')),
 ('2019-09', Decimal('37.95')),
 ('2019-08', Decimal('67.71')),
 ('2019-07', Decimal('64.51')),
 ('2019-06', Decimal('65.02')),
 ('2019-05', Decimal('54.52')),
 ('2019-04', Decimal('53.00')),
 ('2019-03', Decimal('52.91')),
 ('2019-02', Decimal('30.54')),
 ('2019-01', Decimal('2.36'))]