In [4]:
!pip install SQLAlchemy==1.4.47
!pip install ipython-sql==0.4.1

In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

*ID와* PW와 호스트이름을 자신의 것으로 변경. - password

In [6]:
%sql postgresql://admin:password@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev

### Redshift Schema 설정

In [7]:
%%sql

CREATE SCHEMA raw_data;
CREATE SCHEMA analytics;
CREATE SCHEMA adhoc;
CREATE SCHEMA pii;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.

[]

In [8]:
%%sql

select * from pg_namespace order by nspname;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
14 rows affected.

[('adhoc', 100, None),
 ('analytics', 100, None),
 ('catalog_history', 1, None),
 ('information_schema', 1, '{rdsdb=UCDA/rdsdb,=U/rdsdb}'),
 ('pg_auto_copy', 1, None),
 ('pg_automv', 1, None),
 ('pg_catalog', 1, '{rdsdb=UCDA/rdsdb,=U/rdsdb}'),
 ('pg_internal', 1, None),
 ('pg_mv', 1, None),
 ('pg_s3', 1, None),
 ('pg_toast', 1, None),
 ('pii', 100, None),
 ('public', 1, '{rdsdb=UCDA/rdsdb,=UC/rdsdb}'),
 ('raw_data', 100, None)]

### Redshift User 설정

In [10]:
%%sql

CREATE USER hanbyeol PASSWORD 'password';

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [11]:
%%sql

select * from pg_user;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
4 rows affected.

[('rdsdb', 1, True, True, True, '********', 'infinity', None),
 ('admin', 100, True, True, False, '********', None, None),
 ('IAM:RootIdentity', 101, True, True, False, '********', None, None),
 ('hanbyeol', 102, False, False, False, '********', None, None)]

### Redshift Group 설정

In [12]:
%%sql

CREATE GROUP analytics_users;
CREATE GROUP pii_users;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [17]:
%%sql

CREATE GROUP analytics_authors;
ALTER GROUP analytics_authors ADD USER hanbyeol;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [18]:
%%sql

ALTER GROUP analytics_users ADD USER hanbyeol;
ALTER GROUP pii_users ADD USER hanbyeol;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [19]:
%%sql

select * from pg_group;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
3 rows affected.

[('analytics_authors', 110930, [102]),
 ('analytics_users', 110928, [102]),
 ('pii_users', 110929, [102])]

### Redshift Role 설정

In [20]:
%%sql

CREATE ROLE staff;
CREATE ROLE manager;
CREATE ROLE external;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.

[]

In [21]:
%%sql

GRANT ROLE staff TO hanbyeol;   -- keeyong 대신에 다른 역할(Role)을 지정 가능
GRANT ROLE staff TO ROLE manager;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [22]:
%%sql

 select * from SVV_ROLES;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
8 rows affected.

[(106261, 'sys:operator', 'rdsdb', None),
 (106262, 'sys:monitor', 'rdsdb', None),
 (106263, 'sys:dba', 'rdsdb', None),
 (106264, 'sys:secadmin', 'rdsdb', None),
 (106265, 'sys:superuser', 'rdsdb', None),
 (110931, 'staff', 'admin', None),
 (110932, 'manager', 'admin', None),
 (110933, 'external', 'admin', None)]

### COPY 명령으로 테이블 만들기

In [23]:
%%sql

CREATE TABLE raw_data.user_session_channel (
   userid integer ,
   sessionid varchar(32) primary key,
   channel varchar(32)
);

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [24]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.user_session_channel
FROM 's3://hanbyeol-test-bucket/test_data/user_session_channel.csv'
credentials 'aws_iam_role=arn:aws:iam::824122458328:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [25]:
%%sql

SELECT * FROM raw_data.user_session_channel LIMIT 10;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(231, 'e6a4f65e7355bb8b7671c3a18003b146', 'Organic'),
 (243, 'ac1ae6a547bf25a11284c7595eff6df7', 'Naver'),
 (80, '495360cbf18a7d5004ff72f49254e069', 'Organic'),
 (266, '220787ad7829c9cbc7e9953cb1c36fb3', 'Google'),
 (113, '889fbd1aec443cef389ea10c93b498d8', 'Naver'),
 (117, '3ba716f4a7265eef381f7cef9e271f27', 'Instagram'),
 (230, 'cfa3a0bc94975cb9c346a585ccb3ad9e', 'Facebook'),
 (710, '9f16b57bdd4400066a83cd8eaa151c41', 'Google'),
 (27, 'ab49ef78e2877bfd2c2bfa738e459bf0', 'Facebook'),
 (203, 'f10f2da9a238b746d2bac55759915f0d', 'Google')]

In [26]:
%%sql

CREATE TABLE raw_data.session_timestamp (
   sessionid varchar(32) primary key,
   ts timestamp
);

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [27]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.session_timestamp
FROM 's3://hanbyeol-test-bucket/test_data/session_timestamp.csv'
credentials 'aws_iam_role=arn:aws:iam::824122458328:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [28]:
%%sql

SELECT * FROM raw_data.session_timestamp LIMIT 10;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[('6de59d960d3bb8a6346c058930f3cd28', datetime.datetime(2019, 5, 1, 18, 18, 38)),
 ('0e1bacf07b14673fcdb553da51b999a5', datetime.datetime(2019, 5, 3, 0, 35, 31)),
 ('8a0cd50ecce34cfd150d3d512ccf42cf', datetime.datetime(2019, 5, 4, 21, 32, 39, 200000)),
 ('0a552abf945aad2831a917bd58bbdc70', datetime.datetime(2019, 5, 7, 14, 50, 58, 443000)),
 ('71cc107d2e0408e60a3d3c44f47507bd', datetime.datetime(2019, 5, 10, 16, 44, 41)),
 ('5fedcaffc4aba6e57a3563b1c7d60c1d', datetime.datetime(2019, 5, 13, 15, 57, 52, 207000)),
 ('a749e38f556d5eb1dc13b9221d1f994f', datetime.datetime(2019, 5, 15, 19, 22, 12, 653000)),
 ('3f7c70f2a2831ebfb908d7d829f2e99d', datetime.datetime(2019, 5, 23, 23, 6, 31, 37000)),
 ('65c89f5a9501a04c073b354f03791b1f', datetime.datetime(2019, 5, 26, 1, 18, 33, 497000)),
 ('39799c18791e8d7eb29704fc5bc04ac8', datetime.datetime(2019, 5, 27, 14, 50, 22, 647000))]

In [29]:
%%sql

CREATE TABLE raw_data.session_transaction (
    sessionid varchar(32) primary key,
    refunded boolean,
    amount int
)

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [30]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.session_transaction
FROM 's3://hanbyeol-test-bucket/test_data/session_transaction.csv'
credentials 'aws_iam_role=arn:aws:iam::824122458328:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [31]:
%%sql

SELECT * FROM raw_data.session_transaction LIMIT 10;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[('00029153d12ae1c9abe59c17ff2e0895', False, 85),
 ('008909bd27b680698322c750c400e4b1', False, 13),
 ('0107acb41ef20db2289d261d4e34fd38', False, 16),
 ('018544a2c48077d2cc3ce3278ab1e805', False, 39),
 ('020c38173caff02033564200e0288aa9', False, 61),
 ('029591145fad252b28d844d823097400', False, 13),
 ('03190309cbcd7161a426abd4782bdcd2', False, 75),
 ('03a13aa6921aed989b31d92dc73b391a', False, 129),
 ('04215c1ad3aaff3ed175446d2ea3c0f2', False, 99),
 ('049b8c570e6cc662b4a3d7e3c86e236f', False, 24)]

### analytics 테스트 테이블 만들기

In [ ]:
%%sql

CREATE TABLE analytics.mau_summary AS
SELECT
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1
ORDER BY 1 DESC;

### 사용자 그룹 권한 설정하기

#### analytics_authors

In [32]:
%%sql

GRANT ALL ON SCHEMA analytics TO GROUP analytics_authors;
GRANT ALL ON ALL TABLES IN SCHEMA analytics TO GROUP analytics_authors;

GRANT ALL ON SCHEMA adhoc to GROUP analytics_authors;
GRANT ALL ON ALL TABLES IN SCHEMA adhoc TO GROUP analytics_authors;

GRANT USAGE ON SCHEMA raw_data TO GROUP analytics_authors;
GRANT SELECT ON ALL TABLES IN SCHEMA raw_data TO GROUP analytics_authors;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.
Done.
Done.

[]

#### analytics_users

In [33]:
%%sql

GRANT USAGE ON SCHEMA analytics TO GROUP analytics_users;
GRANT SELECT ON ALL TABLES IN SCHEMA analytics TO GROUP analytics_users;

GRANT ALL ON SCHEMA adhoc to GROUP analytics_users;
GRANT ALL ON ALL TABLES IN SCHEMA adhoc TO GROUP analytics_users;

GRANT USAGE ON SCHEMA raw_data TO GROUP analytics_users;
GRANT SELECT ON ALL TABLES IN SCHEMA raw_data TO GROUP analytics_users;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.
Done.
Done.

[]

#### pii_users

In [34]:
%%sql

GRANT USAGE ON SCHEMA pii TO GROUP pii_users;
GRANT SELECT ON ALL TABLES IN SCHEMA pii TO GROUP pii_users;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

#### 권한 없는 유저로 로그인해서 raw_data 테이블을 수정하려 시도해보기

In [35]:
%%sql

ALTER USER hanbyeol PASSWORD 'password'

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [36]:
%sql postgresql://hanbyeol:password@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev

In [37]:
%%sql

DELETE FROM raw_data.user_session_channel;

   postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://hanbyeol:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.InsufficientPrivilege) permission denied for relation user_session_channel

[SQL: DELETE FROM raw_data.user_session_channel;]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Redshift Spectrum 테스트

#### 어드민으로 다시 로그인

In [40]:
%sql postgresql://admin:password@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev

In [41]:
%%sql

-- AWSGlueConsoleFullAccess
CREATE EXTERNAL SCHEMA external_schema
from data catalog
database 'myspectrum_db'
iam_role 'arn:aws:iam::824122458328:role/redshift.read.s3'
create external database if not exists;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://hanbyeol:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [42]:
%%sql

CREATE TABLE raw_data.user_property AS
SELECT
  userid,
  CASE WHEN cast (random() * 2 as int) = 0 THEN 'male' ELSE 'female' END gender,
  (CAST(random() * 50 as int)+18) age
FROM (
  SELECT DISTINCT userid
  FROM raw_data.user_session_channel
);

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://hanbyeol:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [43]:
%%sql

CREATE EXTERNAL TABLE external_schema.user_session_channel(
   userid integer ,
   sessionid varchar(32),
   channel varchar(32)
)
row format delimited
fields terminated by ','
stored as textfile
location 's3://hanbyeol-test-bucket/usc/';

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://hanbyeol:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [44]:
%%sql

SELECT gender, COUNT(1)
FROM external_schema.user_session_channel usc
JOIN raw_data.user_property up ON usc.userid = up.userid
GROUP BY 1;

 * postgresql://admin:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://hanbyeol:***@de7-test.824122458328.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
2 rows affected.

[('female', 49326), ('male', 52194)]

In [ ]:
%%sql

vacuum full